<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nested.etutor">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_jamanlogo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_jamanlogo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".screens.Result"
            android:screenOrientation="portrait"
            ></activity>
        <activity android:name=".screens.DisplayUserProfile"
            android:screenOrientation="portrait"/>
        <activity android:name=".screens.UserProfile"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".SplashScreen"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".screens.MyProfile"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.Forgetpassword"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".screens.DisplayStudents"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.DisplayTeachers"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.PostForTution"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".screens.TeacherPostForm"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".screens.Homepage_activity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.StudentsPostForm"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".screens.Signuppagedesign"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".screens.Loginpagedesign"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".screens.VideosPlayer"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />
        <activity android:name=".screens.books.G_9_books" />
        <activity android:name=".screens.books.G_8_books" />
        <activity android:name=".screens.books.G_7_books" />
        <activity android:name=".screens.books.G_6_books" />
        <activity android:name=".screens.books.G_5_books" />
        <activity android:name=".screens.books.G_4_books" />
        <activity android:name=".screens.books.G_3_books" />
        <activity android:name=".screens.books.G_2_books" />
        <activity android:name=".screens.books.G_1_books" />
        <activity
            android:name=".screens.PostTution_layout"
            android:screenOrientation="portrait"
             />
        <activity
            android:name=".screens.AsStudent_layout"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".screens.FindTuition_layout"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".screens.FindTeacher_layout"
            android:screenOrientation="portrait"
           /> <!-- Sample AdMob App ID: ca-app-pub-3940256099942544~3347511713 -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-6092741281885131~8241310035" />
    </application>

</manifest>